<Card>
    <CardHeader>
        <Icon Name="@FontAwesomeIcons.Unlock" Class="header-icon" />
        Edit my password
    </CardHeader>
    <CardBody>
        <ErrorsSummary Errors="this.Errors" />

        <SfTextBox Placeholder="Current password"
                   Type="InputType.Password"
                   FloatLabelType="FloatLabelType.Auto"
                   @bind-Value="this.Model.CurrentPassword" />

        <SfTextBox Placeholder="New password"
                   Type="InputType.Password"
                   FloatLabelType="FloatLabelType.Auto"
                   @bind-Value="this.Model.NewPassword" />

        <SfTextBox Placeholder="New password confirmation"
                   Type="InputType.Password"
                   FloatLabelType="FloatLabelType.Auto"
                   @bind-Value="this.NewPasswordConfirmation" />

    </CardBody>
     <CardFooter Class="d-block text-right">
        <Button Color="Color.Primary" Icon="@FontAwesomeIcons.Check" IsLoading="this.IsUpdating" Clicked="this.SaveAsync">
            Process
        </Button>
    </CardFooter>
</Card>