@layout AnonymousLayout
@using Ozytis.Common.Core.Web.Razor;
<div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">

    <div class="app-logo big-logo">
    </div>

    <h4 class="mb-4">
        <span>Veuillez utiliser le formulaire ci-dessous afin de modifier votre mot de passe.</span>
    </h4>

    <div>
        <ErrorsSummary errors="@this.Errors" />

        <Row>
            <Column ColumnSize="ColumnSize.Is12">

                <SfTextBox Type="InputType.Email" name="email" Enabled="false"
                           CssClass="mb-2"
                           FloatLabelType="FloatLabelType.Auto" Placeholder="Votre adresse email" @bind-Value="this.Email" />

                <SfTextBox Type="InputType.Password" FloatLabelType="FloatLabelType.Always" name="NewPassword"
                           CssClass="mb-2"
                           Placeholder="Votre nouveau mot de passe" @bind-Value="this.NewPassword" />


                <SfTextBox Type="InputType.Password" FloatLabelType="FloatLabelType.Always" name="NewPasswordConfirmation"
                           CssClass="mb-2"
                           Placeholder="Confirmation de votre nouveau mot de passe"
                           @bind-Value="this.NewPasswordConfirmation" />

            </Column>
        </Row>

        <div class="d-flex align-items-center mt-3">
            <div>
                <Button @onclick="@(()=> this.NavigationManager.NavigateTo(LoginPage.Url))" Size="Button.ButtonSize.Large" Color="Color.Link">
                    Me connecter à mon compte
                </Button>
                <Button Color="Color.Primary" Size="Button.ButtonSize.Large" Disabled="this.IsProcessing" @onclick="this.ProcessAsync">
                    <Loader IsLoading="this.IsProcessing" />
                    Modifier mon mot de passe
                </Button>
            </div>
        </div>


    </div>
</div>
