@page "/password-recovery"
@layout AnonymousLayout

<div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">

    <div class="app-logo big-logo">
    </div>

    <h4 class="mb-4">
        <span>Have you forgotten your password ?</span>
        <span>Please fill the form below :</span>
    </h4>

    <Row Class="divider" />

    <div>
        <ErrorsSummary errors="@this.Errors" />


        @if (this.IsSuccess)
        {
            <div class="alert alert-success">
                <strong>Operation is successful</strong>
                <div>
                    An email with the instructions has been sent to your email account.
                </div>
            </div>
        }

        <Row>
            <Column Size="12">
                <Field>
                    <Label Class="required">Adresse email</Label>
                    <SfTextBox Type="InputType.Email" name="email" id="exampleEmail" Placeholder="Votre adresse email..." @bind-Value="this.Email" />
                </Field>
            </Column>
        </Row>

        <div class="d-flex align-items-center my-2">
            <div class="ml-auto">
                <Button @onclick="@(()=> this.NavigateTo(LoginPage.Url))" Size="Button.ButtonSize.Large" Color="Color.Link">
                    Go to login page
                </Button>
                <Button Color="Color.Primary" Size="Button.ButtonSize.Large" Disabled="this.IsProcessing" @onclick="this.SendPasswordRecoveryAsync">
                    <Loader IsLoading="this.IsProcessing" />
                    Process
                </Button>
            </div>
        </div>

    </div>
</div>